main {
    min-height: 100vh;
}

h1 {
    text-align: center;
}

.form-container {
    /* background-color: purple; */
    width: 50%;
}

.form-element {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 2%;
}

.form-element input {
    width: 50%;
}

.form-element textarea {
    width: 50%;
    resize: vertical;
}

/* Updated contact sheet */