/* h1 {
    text-align: center;
} */

p {
    margin-bottom: 8%;
    text-align: center;
}

form {
    background-color: gray;
    width: 50%;
    margin: 0 auto 5%;
    border: 5px solid black;
    border-radius: 5px;
    padding: 5% 0;
}

.form-element {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 5%;
}

.form-element input {
    width: 50%;
    border: 1px solid black;
    border-radius: 5px;
}

.form-element input:focus {
    box-shadow: 0px 1px 23px 6px rgba(0,0,0,0.66);
}

.form-element textarea {
    width: 50%;
    resize: vertical;
    border: 1px solid black;
    border-radius: 5px;
}

.form-element textarea:focus {
    box-shadow: 0px 1px 23px 6px rgba(0,0,0,0.66);

}

.form-element button {
    border: 1px solid black;
    border-radius: 5px;

    transition: .2s;

}

.form-element button:hover {
    background-color: rgb(46, 43, 43);
    color: white;
}

.bottom-form-element {
    margin-bottom: 15%;
}

@media screen and (min-width: 768px) {
    .form-element {
        flex-direction: row;
    }

    .form-element label {
        width: 12%;
        text-align: right;

    }

    .form-element input {
        margin-left: 2%;
        width: 80%;
    }

    .form-element textarea {
        margin-left: 2%;
        width: 80%;
    }

    button {
        margin: auto 
    }
}