main {
    display: flex;
    flex-direction: column;
    /* justify-content: space-around; */
    align-items: center;
    /* min-height: 100vw; */
    row-gap: 10vh;
    /* justify-self: stretch; */
}

/* h2 {
    text-align: center;
    justify-self: flex-start;
    
} */

.form-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: gray;
    border: 5px solid black;
    border-radius: 5px;
    width: 50%;
    min-width: 220px;
    /* max-width: 100%; */
    padding: 5%;
}

form {
    background-color: gray;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    
}

.form-element {
    display: flex;
    flex-direction: column;
    /* margin: 3% auto auto; */
    align-items: flex-start;

}

.form-element label {
    align-self: center;
}

.form-element textarea {
    box-sizing: border-box;
    border: 1px solid black;
    border-radius: 5px;
    align-self: center;
    resize: vertical;
    /* max-height: 30%; */


}

form input {
    border: 1px solid black;
    border-radius: 5px;
}

form button {
    margin: 5% auto 3%;
    border: 2px solid black;
    border-radius: 5px;
    width: 30%;
    text-align: center;
    min-width: 64px;
    
}

@media screen and (min-width: 768px) {
    .form-container {
        width: 30%;
    }

    form {
        width: 50%;
        align-items: center;
    }

    .form-element {
        flex-direction: row;
        align-items: center;
        margin-bottom: 3%;
    }

    .form-element label {
        margin-right: 20%;
    }
}

@media screen and (min-width: 1024px) {
    form {
        width: 40%;
    }
}