:root {
    --header-footer-colour: #1A2A38;
    --background-colour: #4D7EA8; 
    --secondary-colour: #8FAFCC;
    --text-background: #CCAC8F;
    margin: 0;
}

body {
    margin: 0;
    max-width: 100vw;
}
.main-body {
    background-color: var(--background-colour);
    max-width: 100vw;
    min-height: 100vh;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
}



header {
    max-width: 100vw;
    background-color: var(--header-footer-colour);

    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 1%;

}

.header-home-links {
    display: flex;
    margin-bottom: 5%;
}


.header-home-links img {
    width: 40px;
    border-radius: 50%;
    
    
    
} 

.icon-link {
    margin-right: 5px;
}

.name-link {
    color: var(--secondary-colour);
    font-size: 1.3rem;
    align-self: center;
    text-decoration: none;
}

nav {
    box-sizing: border-box;
    width: 100%;
    padding: 0% 1% 1%;
    
    
    display: flex;
    justify-content: space-between;
}

nav a {
    color: var(--secondary-colour);
    font-size: 1.2rem;
    text-decoration: none;
    background-color: #fa7c05;
    padding: 0 1%;
    border: 2px solid black;
    border-radius: 5px;
}

main {
    flex-grow: 1; 
}


footer {
    box-sizing: border-box;
    max-width: 100vw;
    background-color: var(--header-footer-colour);
    padding: 1% 1%;

    display: flex;
    justify-content: space-between;
}

footer a {
    font-size: 2rem;
    color: var(--secondary-colour);
}

@media screen and (min-width: 768px) {
    header {
        flex-direction: row;
        justify-content: space-between;
    }

    nav {
        width: 50%;
    }

    .header-home-links {
        margin: 0;
        padding-bottom: 1% ;
        padding-left: 1%;

    }

    footer {
        justify-content: space-around;
    }
}

@media screen and (min-width: 1024px) {
    footer {
        justify-content: center;
    }

    #git-link {
        margin: 0 5%;
    }
}

