:root {
    --header-footer-colour: #1A2A38;
    --background-colour: #4D7EA8; 
    --secondary-colour: #8FAFCC;
    --text-background: #CCAC8F;
    
}

body {
    margin: 0;
    min-width: 320px;
}
.main-body {
    background-color: var(--background-colour);
    min-width: 100vw;
    min-height: 100vh;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
}



header {
    min-width: 100vw;
    background-color: var(--header-footer-colour);

    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 1%;

}

.header-home-links {
    display: flex;
    margin-bottom: 5%;
}


.header-home-links img {
    width: 40px;
    border-radius: 50%;
    
    
    
} 

.icon-link {
    margin-right: 5px;
}

.name-link {
    color: var(--secondary-colour);
    font-size: 1.3rem;
    align-self: center;
    text-decoration: none;
}

nav {
    box-sizing: border-box;
    width: 100%;
    padding: 0% 1% 1%;
    
    
    display: flex;
    justify-content: space-between;
}

nav a {
    color: var(--secondary-colour);
    font-size: 1.2rem;
    text-decoration: none;
    background-color: #fa7c05;
    padding: 0 1%;
    border: 2px solid black;
    border-radius: 5px;
}

main {
    flex-grow: 1; 
}


footer {
    background-color: var(--header-footer-colour);
    padding: 1% 1%;

    display: flex;
    justify-content: space-between;
}

footer a {
    font-size: 2rem;
    color: var(--secondary-colour);
}


