.skill-container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.skill-div {
    background-color: aqua;
    width: 80%;
    border: 5px solid black;
    border-radius: 10px;

    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 5%;
    padding: 2.5%;
}

h1 {
    text-align: center;
    font-family: Barlow Condensed;
}

h2 {
    font-family: Barlow Condensed;
}

.skill-div img {
    width: 80%;
    border: 3px solid black;
    border-radius: 5px;
    
    
}


p {
    margin-block-start: 0;
    font-family: Barlow Condensed;
}
