main{
    min-height: 100vh;
}
.work-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 70vh;
    margin-top: 10%;
    margin-bottom: 10%;
    row-gap: 3%;
}

h2 {
    text-align: center;
}

.work-div {
    height: 10vh;
    width: 50vw;
    background-color: gray;
    border: 5px solid black;
    border-radius: 5px;
}